*,*::before,*:after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  .header{
    display: flex;
    height: 160px;
    background: rgba(235, 69, 160, 0.726);
    width: 100%;
    border: thick double rgb(128, 18, 64, 0.596);
}

.content-head{
    height: 150px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo{
   padding: 14px 10px 10px 10px;
   float: left;
}

.header__text{
    font-family: 'Space Mono', monospace;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

  html,body{
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(230, 134, 195);
  }
  .wrapper{
    height: 100%;
    padding: 50px;
  }

  .footer{
    width: 100%;
    background-color: rgb(41, 42, 52, 0.226);
    box-shadow: 10px 10x 10px 5px rgba(87, 86, 86, 0.281);
}
.footrow{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.foottext{
    font-size: 15px;
    letter-spacing: 0.4px;
}

  @media screen and (max-width:480px) {
    .slider img{
      height: 75px;
      width: 75px;
    }
  }
  @media screen and (max-width:1300px) {
    .slider img{
      height: 150px;
      width: 150px;
    }
  }